# Ignore Excel data files (keeps client names private!)
*.xlsx
*.xls

# Ignore Python memory/cache folders
__pycache__/
*.pyc

# Ignore the local backup folder we created
backup/

#Ignore the .env file that contains the API key
.env

